.ModalBackdrop {
  position: fixed;
  top: 140px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1200;
}

.ModalContent {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: green;
}
