.scrollList {
  overflow: scroll;
  /* height: 220px; */
}

@media screen and (min-width: 768px) {
  .scrollList {
    overflow-y: scroll;
    height: 240px;
    max-width: 589px;
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .scrollList {
    overflow-y: scroll;
    height: 269px;
    max-width: 552px;
    padding-right: 115px;
    padding-left: 115px;
  }
}
