/* ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
} */
.listPrivate {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
} ;
