.statistics_wrapper {
  font-family: var(--main-font);
  text-align: center;
  padding: 40px 0 80px 0;
}

.statistics_box:not(:last-child) {
  margin-bottom: 40px;
}
.statistics_box ul .statistic_text:not(:last-child) {
  margin-bottom: 15px;
}

.statistics_title {
  text-align: left;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: var(--headline-txt-color);
}

.statistic_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistic_box:not(:last-child) {
  margin-bottom: 15px;
}

.statistic_text {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  margin: 0;

  color: var(--main-txt-color);
}
@media screen and (min-width: 768px) {
  .statistics_box {
    width: 330px;
  }
  .statistics_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 90px 0;
  }
  .statistics_box:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 60px;
  }
  .statistics_box ul .statistic_text:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .statistics_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .statistic_box {
    padding-right: 0;
    width: 270px;
  }

  .statistics_box:not(:last-child) {
    margin-bottom: 60px;
    margin-right: 0;
    padding-right: 0;
  }
  .statistics_box:not(:last-child) {
  }
}
