.statistics_wrapper {
  background-color: #f0f1f3;
  position: relative;
  width: 100vw;
  bottom: 0;
  left: -15px;
  /* left: calc(((320px - 100vw - 30px) / 2)); */
}

.statistics_container {
  margin: 0 auto;
  max-width: 500px;
  font-family: var(--main-font);
  text-align: center;
  padding: 40px 15px 40px 15px;
}

.statistics_box:not(:last-child) {
  margin-bottom: 40px;
}
.statistics_box ul .statistic_text:not(:last-child) {
  margin-bottom: 15px;
}

.statistics_title {
  text-align: left;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: var(--headline-txt-color);
}

.statistic_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistic_box:not(:last-child) {
  margin-bottom: 15px;
}

.statistic_text {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  margin: 0;

  color: var(--main-txt-color);
}
@media screen and (min-width: 768px) {
  .statistics_wrapper {
    background-color: #f0f1f3;
    position: relative;
    width: 100vw;
    bottom: 0;
    /* left: -70px; */
    left: calc(((768px - 100vw - 140px) / 2));
  }
  .statistics_box {
    width: 330px;
  }
  .statistics_container {
    margin: 0 auto;
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 90px 70px 90px 70px;
  }
  .statistics_box:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 60px;
  }
  .statistics_box ul .statistic_text:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .statistics_wrapper {
    padding-left: 90px;
    padding-top: 292px;
    height: 100vh;
    background: none;
    /* background: linear-gradient(
        to right,
        rgba(240, 241, 243, 1),
        rgba(240, 241, 243, 0.2)
      ),
      url("../../images/leaves-desc.png"); */
    /* background-image: url("../../images/leaves-desc.png"); */
    /* background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: rgb(240, 241, 243); */
    position: relative;
    /* width: 100%; */
    width: calc(330px + 90px + (100vw - 1050px) / 2 - 5px);
    bottom: 0;
    top: -146px;
    /* left: -70px; */
    left: 0;
  }

  .statistics_container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 330px;
    margin: 0;
  }
  .statistic_box {
    padding-right: 0;
    width: 270px;
  }

  .statistics_box:not(:last-child) {
    margin-bottom: 60px;
    margin-right: 0;
    padding-right: 0;
  }
  .statistics_box:not(:last-child) {
  }
}
