.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1070px;
  }
}
