@media screen and (min-width: 1024px) {
  .container {
    padding-top: 82px;
    padding-bottom: 143px;
    padding-left: 90px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
  }
}
