.statsContainer {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 1280px) {
  .mainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
