.mobileDiaryDateСalendar {
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.mobileProductList {
  margin-top: 31px;
  padding-left: 15px;
  padding-right: 15px;
  height: 211px;
  overflow-y: auto;
}
.mobileProductList::-webkit-scrollbar {
  width: 8px; /*ширина для вертикального скролла*/
  height: 0; /* высота для горизонтального скролла */
  background-color: #f0f1f3;
}

/* ползунок скроллбара */
.mobileProductList::-webkit-scrollbar-thumb {
  background-color: var(--calories-color);
  /* border-radius: 9em; */
  /* box-shadow: inset 1px 1px 2px #f3faf7; */
}

.mobileProductList::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-txt-color);
}

/* Стрелки */

.mobileProductList::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

.mobileProductList::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
.btnAddFormMobile {
  margin-top: 60px;
  text-align: center;
}
.statContainer {
  margin-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 768px) {
  .mobileDiaryDateСalendar {
    margin-top: 100px;
    padding-left: 0;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1280px) {
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobileDiaryDateСalendar {
    margin-top: 143px;
    padding-left: 0;
    padding-right: 115px;
  }
  .statContainer {
    padding-left: 90px;
    margin-top: 100px;
  }
}
