.mobileProductList {
  height: 1024px;
}
.mobileDiaryDateСalendar {
  margin-top: 40px;
}
.mobileDiaryDateСalendar {
}
.btnAddFormMobile {
}
.statContainer {
}

@media screen and (min-width: 1280px) {
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
