.logo_without_slim {
  width: 46px;
  height: 44px;
}
.logo {
  width: 162px;
  height: 44px;
}

.privateItem {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.link {
  color: var(--main-txt-color);
}

.link:hover,
:focus {
  color: var(--main-txt-color);
}
.activeLink {
  color: var(--headline-txt-color);
}
.activeLink:hover,
:focus {
  color: var(--headline-txt-color);
}
.activeLinkPrivate {
  color: var(--main-color);
}

.activeLinkPrivate:hover,
:focus {
  color: var(--main-color);
}

.privateItem:not(:last-child) {
  margin-bottom: 24px;
}

.privateItem:hover {
  color: var(--main-txt-color);
}
.item {
  text-decoration: none;
  color: var(--main-txt-color);
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.07;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.item:first-child {
  margin-right: 65px;
}
.item:last-child {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .link {
    color: var(--main-txt-color);
  }

  .activeLink {
    color: var(--headline-txt-color);
  }

  .logo {
    width: 162px;
    height: 44px;
  }

  .item {
    text-decoration: none;
    color: var(--main-txt-color);
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .item:first-child {
    margin-right: 270px;
  }

  .privateItem {
    font-size: 24px;
    line-height: 1.2;
  }

  .activeLinkPrivate {
    color: var(--main-color);
  }

  .activeLinkPrivate:hover,
  :focus {
    color: var(--main-color);
  }
}

@media screen and (min-width: 1280px) {
  .logo_main_desc {
    width: 170px;
    height: 67px;
  }
  .item:first-child {
    margin-right: 20px;
  }

  .item:nth-child(2)::before {
    margin-right: 20px;
    display: inline;
    transform: rotate(90deg);
    content: "";
    width: 32px;
    border: 1px solid var(--linear-color);
  }
  .activeLinkPrivate {
    color: var(--headline-txt-color);
  }

  .activeLinkPrivate:hover,
  :focus {
    color: var(--headline-txt-color);
  }
}

@import "../../../utils/vars.css";
