.backdrop {
  position: fixed;
  top: 120px;
  left: 0;

  /* width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200; */
}

.modal_container {
  border-top: 1px solid black;
  position: absolute;
  /* top: 120px; */
  padding: 40px 15px;
  height: calc(100vh - 120px);
  /* overflow: hidden; */

  /* padding: 64px 90px;
  height: 580px;
  width: 594px; */
  /* box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1); */
  background-color: white;
}

.modal_title {
  font-weight: 700;
  line-height: 1.44;
  font-size: 18px;

  /* font-size: 26px;
  line-height: 1.23;
  text-align: center; */

  color: #212121;
}

.modal_calories_value {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.04em;

  color: #264061;
}
.modal_calories_value span {
  margin-left: 15px;
  font-size: 20px;
}

.modal_bottom {
  margin: 0 auto;
  width: 330px;
  border-top: 1px solid #e0e0e0;
}
.modal_bottom_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: #212121;
}
