.colorLine {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--header-secondNav-color);
  height: 40px;
  width: 100vw;
}

@import "../../utils/vars.css";
