.MainContainer {
  padding-top: 18px;
}
.colorLine {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--header-secondNav-color);
  height: 40px;
  margin-top: 18px;
  /* width: 100vw; */
}

.shrinkLine {
  border-bottom: 2px solid var(--linear-color);
  padding-top: 19px;
}

@media screen and (min-width: 1280px) {
  .MainContainer {
    padding-top: 82px;
  }
}
