.addProductInputForm {
  padding: 80px 15px 60px 15px;
}

.formFieldProduct {
  width: 290px;
  height: 26px;
  border: 0;
  outline: 0;
  background: transparent;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.formFieldProduct:after {
  content: "";
  width: 290px;
  display: inline-block;
  height: 1px;
  bottom: -10px;
  background-color: #9b9faa;
}

.formFieldWeigth {
  margin-top: 30px;
  width: 290px;
  height: 26px;
  border: 0;
  outline: 0;
  background: transparent;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.formFieldWeigth:after {
  content: "";
  width: 290px;
  display: inline-block;
  height: 3px;
  bottom: -10px;
  background-color: #9b9faa;
}

.btnAddFormMobile {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .addProductForm {
    width: 376px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .addProductInputForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px 39px 0px;
  }
  .formFieldWeigth {
    margin-top: 0;
    width: 106px;
  }
  .btnAddFormMobile {
    margin-left: 47px;
  }
}
