.addProductInputForm {
  padding: 200px 15px 60px 15px;
}

.formFieldProduct {
  width: 290px;
  height: 26px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #9b9faa;

  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.formFieldWeigth {
  margin-top: 30px;
  width: 290px;
  height: 26px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #9b9faa;

  font-family: Verdana;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #9b9faa;
}
