:root {
  --main-color: #ffffff;
  --main-txt-color: #9b9faa;
  --headline-txt-color: #212121;
  --linear-color: #e0e0e0;
  --active-color: #fc842d;
  --calories-color: #264061;
  --main-font: Roboto;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
